.occurenceDrawer {
  .description {
    span[class$='-item-label'] {
      width: 50%;
    }
    .hcCountLink {
      height: 22px;
    }
  }

  .parentStatusTitle,
  .parentStatusIconWrapper {
    display: flex;
    align-items: center;

    .parentStatusIcon {
      margin-left: 4px;
    }
  }
}
