@import 'colors';

$label-width: 350px;

.clinicalSignsSelect {
  :global(.ant-form-item-label) {
    width: $label-width;
  }

  .clinicalSignNotice {
    font-weight: 500;
    line-height: 22px;
  }

  .hpoCode {
    font-weight: 400;
  }

  .hpoFormItem {
    margin-bottom: 12px;
    :global(.ant-form-item) {
      margin-bottom: 0;
    }
  }

  .customHpoFormItem {
    display: flex;
    margin-bottom: 8px;

    .hpoFormItemContent {
      background-color: $gray-3;
      border: 1px solid $gray-4;
      border-radius: 2px;
      padding: 8px;
      padding-left: 0;

      .hpoFormItemTopWrapper {
        display: flex;
        align-items: center;
      }

      .removeIcon {
        color: $blue-8;
        margin-left: 25px;
        margin-right: 10px;
      }
    }
  }

  .addClinicalSignBtn {
    padding-left: 0;

    span {
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }
}
