@import 'src/style/themes/clin/colors';
@import "src/style/themes/clin/layout";

.containerLayout {
  & > *:first-child {
    margin-bottom: 24px;
  }
}

.tableContainer {
  background-color: $card-background;
}

.queryBuilderIcon {
  display: flex !important;
  align-items: center;
  height: 18px;

  path {
    fill: $body-1;
  }
}
