@import "style/themes/clin/_colors.scss";
@import "style/themes/clin/_layout.scss";

.containerLayout {
  & > * {
    margin-bottom: 24px;
  }
}

.tableContainer {
  background-color: $card-background;
}

.queryBuilderIcon {
  display: flex !important;
  align-items: center;
  height: 18px;

  path {
    fill: $body-1;
  }
}
