@import 'style/themes/clin/_colors.scss';

.siderContainer {
  padding: 16px;
  padding-bottom: 0;
  overflow: visible !important;
  height: 100%;
  border-right: 1px solid $gray-5;

  &:first-child > span {
    display: flex;
    justify-content: flex-start;
    color: $gray-8;
    font-size: 21px;
  }

  & > .scrollView {
    margin-top: 28px;
    padding-bottom: 14px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 320px;

    & > :not(:first-child) > div {
      margin-top: 8px;
    }

    & > .filters {
      button {
        font-size: 10px;
      }
    }
  }

  & :global(.ant-card) {
    background-color: transparent;
    border: none;
    height: 100%;
    min-height: auto;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  & :global(.ant-card.core-grid-card) :global(.ant-card-head),
  :global(.ant-card-body) {
    margin: 0;
  }

  & :global(.ant-card.core-grid-card) :global(.ant-card-body) {
    margin: 0;
    height: 40px;
  }

  & :global(.ant-collapse),
  :global(.ant-collapse-item) {
    background-color: $gray-1;
    border: none;
  }
}
