@btn-shadow: none;
@btn-primary-shadow: none;
@btn-text-shadow: none;
@btn-default-color: @primary-color;
@btn-default-border: @blue-8;
@btn-disable-bg: #f1f5f9;
@btn-primary-bg: @blue-8;

.@{btn-prefix-cls} {
}

.ant-btn-group .ant-btn-primary:last-child:not(:first-child)[disabled],
.ant-btn-group .ant-btn-primary + .ant-btn-primary[disabled] {
  border-left-color: @border;
}
