@tabs-card-height: 40px;
@tabs-card-gutter: 6px;
@tabs-card-horizontal-padding: 6px 16px;

.@{tab-prefix-cls} {
  // Type default
  &-nav {
    margin-bottom: 0 !important;

    .@{tab-prefix-cls}-tab {
      span {
        display: flex;
        align-items: center;
        svg.anticon {
          margin-right: 5px;
          fill: @blue-9;
        }
      }

      &:not(&-active) {
        &:hover {
          span {
            color: @blue-8;
            svg {
              fill: @blue-8;
            }
          }
        }

        span {
          svg {
            fill: @gray-6;
          }
        }
      }
    }
  }
  .@{tab-prefix-cls}-tab {
    .anticon,
    i {
      display: inline-block;
      margin-right: 6px;
    }
  }
}

.@{tab-prefix-cls}-card {
  > .@{tab-prefix-cls}-nav,
  > div > .@{tab-prefix-cls}-nav {
    .@{tab-prefix-cls}-tab {
      border: 1px solid @gray-4;
      border-bottom: 0px;
    }
  }
  .@{tab-prefix-cls}-content-holder {
    padding: 24px;
    padding-bottom: 8px;
    border: 1px solid @gray-4;
    border-top: none;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    background-color: white;
  }
}
