@import 'colors';

$modal-header-height: 55px;

.createPrescriptionModal {
  :global(.ant-modal-header) {
    height: $modal-header-height;
  }

  .modalContentRow,
  .contentCol {
    height: 100%;
  }

  :global(.ant-modal-body) {
    padding: 0 24px;
  }

  .siderCol {
    padding-top: 24px;
  }

  .contentScroller {
    padding-top: 24px;
    padding-bottom: 24px;
    height: 100%;

    .simplebar-content-wrapper {
      outline: none;
      border: none;
    }
  }

  .modalHeader {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  &,
  :global(.ant-modal-content) {
    height: 100vh !important;
    width: 100vw !important;
    margin: 0;
    top: 0;
    max-width: unset;
    padding-bottom: 0;
  }

  :global(.ant-modal-body) {
    height: calc(100vh - #{$modal-header-height});
    background-color: $gray-4;
  }

  :global(.ant-modal-close-x) {
    width: unset;
    padding-right: 24px;
  }

  .customCloseBtn {
    padding: 0;
  }

  .prescriptionContentFooter {
    display: flex;
    justify-content: space-between;
  }

  .prescriptionFormCard {
    :global(.ant-card-body) {
      padding-left: 1px !important;
      padding-right: 1px !important;
    }
  }
}
