@import 'colors';

$label-width: 225px;

.paraExamsSelect {
  :global(.ant-form-item-label) {
    width: $label-width;
  }

  .paraExamFormItem {
    margin-bottom: 12px;
    :global(.ant-form-item) {
      margin-bottom: 0;
    }
  }

  .paraExamFormItemContent {
    width: 100%;
  }

  .otherExamsTextarea {
      margin-top: 24px;
  }
}
