@import "colors";

.variantEntity {
  .entityHeader {
    width: 100%;
    padding: 16px 24px;
    background-color: white;
    display: flex;
    align-items: center;

    .titleSkeleton {
      *[class$="-title"] {
        margin: 0; 
        height: 24px;
      }
    }

    .previous {
      color: $blue-9;
      margin-right: 0.5rem;
    }

    .title {
      font-size: 20px;
      margin-right: 10px;
    }
  }

  .entitySections {
    div[class$="-nav"] {
      background-color: white;

      div[class$="-nav-list"] {
        padding: 0 24px;
      }
    }
  }

  .pageContainer {
    margin: auto;
    max-width: 1600px;
    padding: 24px 24px;
  }
}
