.parentIdentificationForm {
  .parentInfoChoiceWrapper {
    :global(.ant-form-item-label) {
      width: 250px;
    }
  }

  .formContentWrapper {
    width: 100%;
  }

  .verticalRadioWrapper {
    margin-top: 5px;
  }

  .hideMomentField {
    display: none;
  }
}
