.occurenceDrawer {
  .drawerDivider {
    margin: 0;
  }

  .description {
    span[class$="-item-label"] {
      width: 50%;
    }
  }

  .parentStatusTitle,
  .parentStatusIconWrapper {
    display: flex;
    align-items: center;

    .parentStatusIcon {
      margin-left: 4px;
    }
  }
}
