@import 'src/style/themes/clin/colors';

.resumePanelWrapper {
  display: flex;

  .resumePanel {
    width: 100%;

    .consequenceCards {
      width: 100%;

      .card {
        &:not(:last-child) {
          margin-bottom: 12px;
        }
      }

      .consequenceTableWrapper {
        width: 100%;
      }
    }

    .longValue {
      max-width: 200px;
      overflow: hidden;
      text-overflow: ellipsis;
      overflow-wrap: initial;
    }

    .transcriptId,
    .transcriptLink {
      display: flex;
      align-items: center;
    }

    .canonicalIcon {
      fill: $blue-8;
      margin-left: 4px;
    }

    .cellList {
      :not(:last-child) {
        margin-right: 5px;
      }
    }
  }
}
