@import 'src/style/themes/clin/colors';

.pageHeader {
  padding: 8px 24px;
  background-color: $blue-9;

  .logo {
    max-height: 32px;
  }

  .divider {
    background: white;
    height: 32px;
    margin: 0 8px;
    opacity: 0.5;
  }

  .noMargin {
    margin: 0;
  }

  span[class$="-extra"] {
    display: flex;
    align-items: center;
    .navBtn {
      display: flex;
      letter-spacing: 1.5px;
      align-items: center;
      svg {
        fill: rgba(255, 255, 255, 0.71);;
      }
      span {
        font-size: 12px;
        text-transform: uppercase;
        color: rgba(255, 255, 255, 0.71);
        font-weight: 500;
        margin-left: 8px;
      }
    }
  }
}
