@import 'src/style/themes/clin/colors';

.patientVariantLayout {
  display: flex;
  flex-direction: row;
  height: 100vh;

  .filterLoader {
    padding: 24px;
    width: 100%;
  }

  .patientVariantSideMenu {
    li[role="menuitem"] {
      color: white;

      span[class$="-title-content"] {
        margin-left: 0 !important;
      }
    }

    * {
      outline: none;
    }
  }

  .tableContainer {
    background-color: white;
    margin-top: 24px;
    border-radius: 2px;
    border: 1px solid #d8e1eb;
  }

  .tableContainer > * {
    margin: 24px;
  }

  .scrollContent {
    width: 100%;
    padding: 24px;
    width: 100%;
    min-height: 600px;

    .pageContainer {
      position: relative;
    }
  }
}

.sideMenuIcon {
  fill: white;
}
