@import 'colors';

.variantTableCell {
  min-width: 160px;
}

.dbSnpTableCell {
  min-width: 140px;
  width: 12%;
}

.variantSearchTable {
  .variantTableCellElipsis {
    max-width: 200px;
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow-wrap: unset;
    white-space: nowrap;
  }

  div[class$='-card-bordered'] {
    border-top: none;

    > div {
      // need !important because antd add padding-top: 0 in inline style
      padding: 8px 24px 8px 24px !important;
    }
  }

  .userAffectedBtnCell {
    .affectedIcon {
      display: flex;
      fill: $blue-8;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.varsomeLogo {
  width: 20px;
}
